.image{
    background-image: url('https://i.pinimg.com/originals/20/af/05/20af052475769ae015c93f08ff81fc0f.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
 

}
h1{
    font-size: 40px;
    position: absolute;
    bottom: 500px;
    right: 700px;
}
.container{
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
   
}