.container{
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    h1{
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
            margin: 10px;
            height: 50px;
            width: 400px;
            font-size: 18px;
            padding: 10px;
        }
        select{
            height: 50px;
            width: 400px;
        }

        input[type=radio]{
            width: 30px;
        }
    }

    a{
        text-decoration: none;
        font-size: 16px;
    }
}