<div class="container">
    <h1 style="margin: 10px;">SignUp Form</h1>
    <p>Create your account for free !!</p>
    <form [formGroup]="signupForm" (ngSubmit)="getValue()">
        <div>
            First Name : 
            <input type="text"  placeholder="First Name" formControlName="fname" required>
            
            Last Name : 
            <input type="text"   placeholder="Last Name" formControlName="lname">
           
          
        </div>
       
        <div >
            Gender:
            <input type="radio"  id="male" formControlName="gender">Male
            <input type="radio"  id="female" formControlName="gender">Female
            Date Of Birth:
            <input type="date" name="date" id="date" formControlName="DOB">
        </div>
       
        <div>
            Mo Number : 
            <input type="text"  placeholder="Phone Number"  pattern="[7-9]{1}[0-9]{9}" maxlength="10" minlength="10" formControlName="phone">
            
            Email : 
            <input type="text" placeholder="Email "  formControlName="email" pattern="[A-aZ-z]{8}[@]{1}" maxlength="20" >
           
        </div>
       
        
        <div>
            Username : 
            <input type="text"  placeholder="Username" formControlName="username">
            Password : 
            <input type="password"  placeholder="Password" formControlName="password">
        </div>
        
        <div>
            Confirm Password : 
            <input type="text"  placeholder="Confirm Password" formControlName="cpassword">
        </div>
        <div >
            <input type="submit"  value="Submit">
            <input type="reset" value="Reset">
        </div>
    </form>
</div>