.container{
    width: 90vw;
    height: 80vh;
    box-sizing: border-box;
    overflow: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    scrollbar-width: 0px;
    background-color: white;
    background-image: url('https://th.bing.com/th/id/R.f8c6c31bb31006e6286d32bb21d68792?rik=Ol2eKXtKRZM%2bOA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fwp1846091.jpg&ehk=0zvX45NpA5d1lEVN2iNpEkNcMjQLUmh4OZi8uKRH%2fwQ%3d&risl=&pid=ImgRaw&r=0');
    
        
}

.box {
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    width: 400px;
    margin: 30px;
    background-color: white;
}

.batn{
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        flex: 1;
        height: 40px;
        border-radius: 12px;
        margin: 0 10px;
        background-color: rgb(218, 128, 143);
        font-size: 20px;
        color: white;
    }
    button:hover{
        background-color: rgb(99, 85, 204);
    }
}

nav{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(228, 112, 112);
    
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    .logo{
        font-size: 28px;
        color: white;
        cursor: pointer;
    }

    ul{
        li{
            list-style: none;
            margin: auto 20px;
            button{
                height: 40px;
                width: 200px;
                font-size: 20px;
                border-radius: 20px;
                cursor: pointer;
            }
            button:hover{
                color: white;
                background-color: black;

            }
        }
    }
}