<div class="container">
    <header>
        <h1>Owner List</h1>
        <button class="btn btn-primary" (click)="adminRegister()">ADD OWNER</button>
    </header>
    <main>
        <div class="box" *ngFor="let owner of owners">
            <p><b>First Name : </b>{{owner.fname}}</p>
            <p><b>Last Name : </b>{{owner.lname}}</p>
            <p><b>Phone : </b>{{owner.phone}}</p>
            <p><b>Email : </b>{{owner.email}}</p>
            <p><b>Age : </b>{{owner.age}}</p>
            <p><b>Gender : </b>{{owner.gender}}</p>
            <p><b>ID : </b>{{owner.id}}</p>
            <p><b>Password : </b>{{owner.password}}</p>
            <div>
                <button class="btn btn-primary" (click)="openAdminForm(owner)">Edit</button>
                <button class="btn btn-danger mx-3" (click)="deleteAdmin(owner.id)">Delete</button>
            </div>
        </div>
    </main>
</div>