<div>
    <h1>Admin's Registration Form</h1>
</div>
<form [formGroup]="AdminForm" (ngSubmit)="AdminRegistr()">
    <div class="content">
        <div>
            <input type="text" formControlName="fname" placeholder="Enter first name" required>
            <span class="error" *ngIf="!AdminForm.get('fname')?.touched ">Please Enter Name</span>
            <span class="error" *ngIf="AdminForm.get('fname')?.touched && AdminForm.get('fname')?.errors?.['required']">Name is required</span>

            <input type="text" formControlName="lname" placeholder="Enter Last name">
            <span class="error" *ngIf="!AdminForm.get('lname')?.touched">Please Enter Name</span>
            <span class="error" *ngIf="AdminForm.get('lname')?.touched && AdminForm.get('lname')?.errors?.['required']">Name is required</span>
        </div>
        <div>
            <input type="text" formControlName="id" placeholder="Enter id" >
            <input type="text" formControlName="username" placeholder="Enter username" required>
            <span class="error" *ngIf="!AdminForm.get('username')?.touched">Please Enter Username</span>
            <span class="error" *ngIf="AdminForm.get('username')?.touched && AdminForm.get('username')?.errors?.['required']">Name is required</span>
        </div>
        <div>
            <input type="date" formControlName="DOB" placeholder="Enter DOB">
            <input type="text" formControlName="email" placeholder="Enter email" email>
            <span class="error" *ngIf="AdminForm.get('email')?.touched && AdminForm.get('email')?.errors?.['email']">Enter Valid Email</span>
        </div>
        <div>
            <input type="text" formControlName="phone" placeholder="Enter phone">
            <input type="text" formControlName="gender" placeholder="Enter gender">
        </div>
        <div>
            <input type="password" formControlName="password" placeholder="Enter password" pattern="[a-Az-Z]{5}[0-9]{3}">
            <span class="error" *ngIf="AdminForm.get('password')?.touched && AdminForm.get('email')?.errors?.['pattern']">Enter Valid Pattern</span>
            <input type="text" formControlName="cpassword" placeholder="confirm password" pattern="[a-Az-Z]{5}[0-9]{3}">
            <span class="error" *ngIf="AdminForm.get('password')?.touched && AdminForm.get('email')?.errors?.['pattern']">Enter Valid Pattern</span>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [matDialogClose]="true">Cancel</button>
        <button  mat-raised-button color="primary">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>