<div>
    <h1>Hotel Registration Form</h1>
</div>
<form [formGroup]="AdminForm" (ngSubmit)="AdminRegistr()">
    <div class="content">
        <div>
            <input type="text" formControlName="fname" placeholder="Enter first name">
            <input type="text" formControlName="lname" placeholder="Enter Last name">
        </div>
        <div>
            <input type="text" formControlName="id" placeholder="Enter id">
            <input type="text" formControlName="username" placeholder="Enter username">
        </div>
        <div>
            <input type="text" formControlName="DOB" placeholder="Enter DOB">
            <input type="text" formControlName="email" placeholder="Enter email">
        </div>
        <div>
            <input type="text" formControlName="phone" placeholder="Enter phone">
            <input type="text" formControlName="gender" placeholder="Enter gender">
        </div>
        <div>
            <input type="text" formControlName="password" placeholder="Enter password">
            <input type="text" formControlName="cpassword" placeholder="confirm password">
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [matDialogClose]="true">Cancel</button>
        <button mat-raised-button color="primary">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>