h1{
    width: 100%;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input{
        height: 40px;
        width: 350px;
        border-radius: 12px;
        padding: 12px;
        margin: 20px 10px;
        font-size: 18px;
    }
}

.action{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        flex: 1;
        margin: 20px;
        height: 40px;
    }
}
.error{
    color: red;
    border-bottom: red;
}