<div class="container">
    <div class="header">
    <h1 style="font-size: 40px;" *ngIf="!newRegistrationForm">Hotel Registration Form</h1>
    <h1 style="font-size: 40px;" *ngIf="newRegistrationForm">Hotel Registration Update Form</h1>
    </div>

<div class="top">
    <form [formGroup]="registration" (ngSubmit)="getdata(registration.value)">
    <div class="row">
    <input type="text" name='username' placeholder="Enter Hotel Id"formControlName="uname" required>
   
    <input type="text" name='email'  placeholder="Enter Hotel Name"formControlName="email">
    
    </div>
    <div class="row">
        <input type="text"name='Hname'  placeholder="Enter Hotel Email-Id"formControlName="Hname">
       
        <input type="text" name='Troom'  placeholder="Enter Hotel Menu" pattern="[0-9]"formControlName="Troom" required>
      
    </div>
    <div class="row">
        <input type="text" name="location" placeholder="Enter Hotel Contact Number"formControlName="location">
        <input type="text" name="area" placeholder="Enter Hotel Available Rooms"formControlName="area">
    </div>
    <div class="row">
        <input type="text" name="sDish" placeholder="Enter Hotel Workers"formControlName="sDish">
        <input type="text" name="Discription" placeholder="Enter Hotel Discription"formControlName="discription">
    </div>
    <div class="row">
    <button mat-raised-button color="assent" *ngIf="!newRegistrationForm" (click)="register()">Register</button>
    <button mat-raised-button color="assent"  *ngIf="newRegistrationForm" (click)="register()">Update</button>
    <input type="reset" value="reset">
</div>

</form>
</div>
</div>

