<div class="container">
    <div class="header"> 
        <h1 style="margin: 10px;">User's SignUp Form</h1>
    <p>Create your account for free !!</p>
    </div>
    <form [formGroup]="userSignupForm" (ngSubmit)="getData(userSignupForm.value)">
        <div class="row">
            First Name : 
            <input type="text"  placeholder="First Name" formControlName="fname" required>
            <span class="validation" *ngIf="!userSignupForm.get('fname')?.touched">Enter Your First Name</span>
            <span class="validation" *ngIf="userSignupForm.get('fname')?.touched && userSignupForm.get('fname')?.errors?.['required']">Name is required</span>
            
            Last Name : 
            <input type="text"   placeholder="Last Name" formControlName="lname" required>
            <span class="validation" *ngIf="!userSignupForm.get('lname')?.touched">Enter Your First Name</span>
            <span class="validation" *ngIf="userSignupForm.get('lname')?.touched && userSignupForm.get('lname')?.errors?.['required']">Name is required</span>
            
          
        </div>
       
        <div  class="row">
            Gender:
            <input type="radio"  id="male" formControlName="gender" value="male" required>Male
            <input type="radio"  id="female" formControlName="gender" value="female" required>Female
            Date Of Birth:
            <input type="date" name="date" id="date" formControlName="DOB" required>
        </div>
       
        <div class="row">
            Mo Number : 
            <input type="text"  placeholder="Phone Number"  pattern="[7-9]{1}[0-9]{9}" maxlength="10"  formControlName="phone" required>
            <span class="validation" *ngIf="!userSignupForm.get('phone')?.errors?.['isValid'] && userSignupForm.get('phone')?.errors?.['maxlenght']">At least 10 Digits</span>
            Email : 
            <input type="text" placeholder="Email "  formControlName="email" email required >
            <span class="validation" *ngIf="userSignupForm.get('email')?.errors?.['email']">Enter Valid Email</span>
        </div>
       
        
        <div class="row">
            Username :  
            <input type="text"  placeholder="Username" formControlName="username" required>
            Password : 
            <input type="password"  placeholder="Password" formControlName="password" required>
            
        </div>
        
        <div class="row">
            Confirm Password : 
            <input type="text"  placeholder="Confirm Password" formControlName="cpassword" required>
        </div>
        <div class="row" >
            <button value="submit" [disabled]="!userSignupForm.valid"  routerLink="/user/home">Submit</button>
            <input type="reset" value="Reset">
        </div>
    </form>
</div>

