<form #loginForm='ngForm' autocomplete="off" (ngSubmit)="adminLogin(loginForm.value)">
    <h1>Admin's Login Form </h1>
    <input placeholder="Username" type="text" ngModel name="username" autocomplete="off">
    <input type="password" placeholder="Password" ngModel name="pass" autocomplete="off">
    <input type="submit" [disabled]="loginForm.invalid" routerLink="/admin/home" class="btn btn-primary">
    <div>
        <a routerLink="/">Forgot password?</a>
        <a routerLink="/admin/signup">Create Admin Account?</a>
    </div>
</form>