<div class="container">
    <div class="card" *ngFor="let item of hotels">
        <img src="https://source.unsplash.com/1600x900/?{{item.name}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title"><b>Hotel Name : </b>{{item.name}}</p>
          <p class="card-text"><b>Hotel Menu : </b>{{item.menu}}</p>
          <p class="card-text"><b>Hotel Phone : </b>{{item.phone}}</p>
          <p class="card-text"><b>Hotel Email : </b>{{item.email}}</p>
          <p class="card-text"><b>Hotel Available Rooms : </b>{{item.arooms}}</p>
          <p class="card-text"><b>Hotel Address : </b>{{item.address}}</p>
          <a routerLink="/user/bookform" class="btn btn-primary">Book Hotel</a>
        </div>
      </div>
</div>