
    
        


form{
    height: 70vh;
        width: 30vw;
        border-radius: 25px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: white;
    

}
input{
    height: 50px;
    width: 350px;
    font-size: 18px;
    padding: 15px;
    border-radius: 15px;
}
button{
    height: 40px;
    width: 200px;
    background-color: green;
    font-size: 20px;
}
button:hover{
    opacity: 0.5;
}
a {
    font-size: 20px;
    text-decoration: none;
}

p {
    font-size: 20px;
    cursor: pointer;
}

p:hover {
    color: red;
}

