form{
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    position: relative;
    top: 150px;
    input {
        height: 60px;
        width: 500px;   
        margin: 10px auto;
        padding: 15px;
        font-size: 18px;
        border-radius: 6px;
    }
    input[type=submit]{
        padding: 0;
    }
    div{
        a{
            margin: 20px 15px;
            font-size: 16px;
            text-decoration: none;
        }

    }

}