
<div class="container">
    <div class="top">
        <h1>Welcome !! To Home Page !!</h1>
        <p>Here, you can login as owner, user and admin !!</p>
    </div>
    <div class="bottom">
        <div class="box">
            <h1>User Login</h1>
            <hr>
            <ul>
                <li>Can Book Hotels !!</li>
                <li>Can See Hotel Rooms Before Booking !!</li>
                <li>User Can Stay In Hotel !!</li>
            </ul>
            <div>
                <button routerLink="/user"class="login">LogIn</button>
                <button class="sign" routerLink="/signup">SignUp</button>
            </div>
        </div>
        <div class="box">
            <h1>Admin Login</h1>
            <hr>
            <ul>
                <li>Admin Can Handle Owners And Users !!</li>
                <li>Can Manage Hotels And Remove Them !!</li>
                <li>Can Give Permission To Owners !!</li>
            </ul>
            <div>
                <button routerLink="/admin/login" class="login">LogIn</button>
            </div>
        </div>
        <div class="box">
            <h1>Owner Login</h1>
            <hr>
            <ul>
                <li>Can Add Hotels And Restaurants !!</li>
                <li>Can Manage Staff And Hotel Rooms !!</li>
                <li>Can Give Permission To User To Stay !!</li>
            </ul>
            <div>
                <button routerLink="/owner/login" class="/owner/login">LogIn</button>
                <button class="sign" routerLink="/owner/signup">SignUp</button>
            </div>
        </div>
    </div>
</div>